.md:grid.md:grid-cols-3.md:gap-6
  .md:col-span-1
    .px-4.sm:px-0
      h3.text-lg.font-medium.leading-6.text-gray-900
        | Employment
      p.mt-1.text-sm.text-gray-600
        | Tell about joining and ending date.
  .mt-5.md:col-span-2.md:mt-0[data-controller="personal"]
    = form_with(model: employment, class: "emplloyment_contents", 
      data: { controller: "turbo_modal", action: 'turbo-modal#employment_validate' }) do |f|
      .overflow-hidden.shadow.sm:rounded-md
        .bg-white.px-4.py-5.sm:p-6
          .grid.grid-cols-6.gap-6
            .col-span-6.sm:col-span-3
              label.block.text-sm.font-medium.text-gray-700.required[for="employer"]
                | Employer
              = f.text_field :employer, type:"text", name:"employment[employer]", id:"employer", autocomplete:"off", class:"mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
              span#employment_error

            .col-span-6.sm:col-span-3
              label.block.text-sm.font-medium.text-gray-700.required[for="date-started"]
                | Date Started
              = f.text_field :date_started, type:"text", "data-provide" => 'datepicker', name:"employment[date_started]", id:"date-started", autocomplete:"off", class:"mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
              span#date_started_error

            .col-span-6.sm:col-span-3
              label.block.text-sm.font-medium.text-gray-700.required[for="date-employment-ended"]
                | Date Employment Ended
              = f.text_field :date_employment_ended, type:"text", data: { action: "focus->turbo-modal#date_ending_provider"}, name:"employment[date_employment_ended]", id:"date-employment-ended", autocomplete:"off", class:"mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
              span#date_ended_error

          .bg-gray-50.px-4.py-3.text-right.sm:px-6
            = f.submit "Save Employment", class:"inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
          .bg-gray-50.px-4.py-3.text-left.sm:px-6
            = button_tag "Cancel", data: { action: "turbo-modal#hideModal" }, type: "button", class: "inline-flex justify-center rounded-md border border-transparent bg-red-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-600 focus:ring-offset-2"
.hidden.sm:block[aria-hidden="true"]
  .py-5
    .border-t.border-gray-200
